html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #181818;
}

.parent-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    height: 500px;
}

.display-div-container {
    width: 600px;
    height: 100px;
    background-color: #494949;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.display-div {
    width: 580px;
    height: 80px;
    padding: 40px 10px 0 0;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    font-size: xx-large;
    color: white;
    text-align: right;
}

.buttons-container {
    width: 600px;
    height: 400px;
    background-color: black;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background-color: #494949;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    padding: 0;
    border: 0;

    width: 137.5px;
    height: 87.5px;
    box-sizing: border-box;
    border-radius: 10px;
    border-top: 0;
    border-right: 0;
    color: white;
    font-size: xx-large;
}

.btn-number {
    background-color: teal;
}

.btn.btn-number:active {
    background-color: rgb(12, 102, 102);
}

.btn.btn-operator {
    background-color: orange;
}

.btn.btn-clear {
    background-color: rgb(202, 14, 14);
}

.btn.btn-clear:active {
    background-color: rgb(170, 12, 12);    
}

.btn.btn-equals {
    background-color: rgb(7, 106, 236);
}

.btn.btn-equals:active {
    background-color: rgb(8, 86, 189);
}